# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docview

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
packages/

# Roslyn cache files
*.eto

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Team Explorer Div
.vs/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj

# Benchmark Results
BenchmarkDotNet.Artifacts/

# Cache files
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Others
*.pidb
*.svd
*.userprefs